* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-mode {
  background-color: black;
 color: black;
}
#darkmod{
    color: red;
    cursor: pointer;
}
#main {
  .ee {
    width: 30%;
  }
  .form-select {
    width: 13%;
  }
}
